$main-gradient-color: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8));
$main-gradient-color-hover: linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$gradient: linear-gradient(30deg, rgba(223,190,106,0.8),rgba(214, 214, 214, 0.8));
$glass-gradient: linear-gradient(-90deg, rgba(255,255,255,0.3), rgba(255,255,255,0));
$main-color: #debc69;
$pure-white: #fff;
$green-color: #2ade71;
$gray-color: #2e2e2e;
$gray: #999999;
$light-gray: #f5f5f5;
$black: #000;
$red-color: rgba(255, 0, 0,0.8);
$black-gradient: linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(26, 19, 9, 0.8));
$btn-shadow: #aa9153;
$footer-color: #444;
$facebook-color: #4267B2;
$twitter-color: #1DA1F2;
$instagram-color: #F56040;
$facebook-hover-color: #2034A0;
$twitter-hover-color: #0b95b4;
$instagram-hover-color: #C23010;
$form-color: #f7f7f7;
